<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='form4G'">

<head>
	<title th:text="${title}"></title>

	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="webjars/sweetalert2/dist/sweetalert2.min.css" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
	
	<div th:replace="menu :: main"></div>
		
	<main role="main" class="container">
		<div class="row">
			<div class="col-md-12 order-md-1">
			<h4 class="mb-3"><strong>4G - Average Load Time</strong></h4>
				<form class="needs-validation" novalidate id="form4G">
					<div class="alert alert-danger collapse" role="alert">
					</div>
					<div class="form-row">
						<div class="form-group col-md-4">
							<label for="inputDate">Date</label> 
							<input type="text" class="form-control" id="inputDate" placeholder="Date">
						</div>
						<div class="form-group col-md-4">
							<label for="inputDevice">Device</label> 
							<select id="inputDevice" class="form-control">
								<option value="" selected>Choose...</option>
								<option value="android">android</option>
								<option value="ios">ios</option>
							</select>
						</div>
						<div class="form-group col-md-4">
							<label for="inputPage">Page</label> 
							<select id="inputPage" class="form-control">
								<option value="" selected>Choose...</option>
								<option value="main">main</option>
								<option value="category">category</option>
								<option value="pdp">pdp</option>
								<option value="search">search</option>
							</select>
						</div>
						<div class="form-group col-md-2">
							<label for="inputElevenia">elevenia</label> 
							<input type="text" class="form-control" id="inputElevenia" placeholder="elevenia">
						</div>
						<div class="form-group col-md-2">
							<label for="inputTokopedia">tokopedia</label> 
							<input type="text" class="form-control" id="inputTokopedia" placeholder="tokopedia">
						</div>
						<div class="form-group col-md-2">
							<label for="inputShopee">shopee</label> 
							<input type="text" class="form-control" id="inputShopee" placeholder="shopee">
						</div>
						<div class="form-group col-md-2">
							<label for="inputLazada">lazada</label> 
							<input type="text" class="form-control" id="inputLazada" placeholder="lazada">
						</div>
						<div class="form-group col-md-2">
							<label for="inputBlibli">blibli</label> 
							<input type="text" class="form-control" id="inputBlibli" placeholder="blibli">
						</div>
					</div>
					<button type="submit" class="btn btn-primary" id="form-add">Add</button>
				</form>
				</div>
			</div>
			
			<hr class="mb-4">
			
			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">#</th>
							<th scope="col">Date</th>
							<th scope="col">Page</th>
							<th scope="col">Device</th>
							<th scope="col">elevenia</th>
							<th scope="col">tokopedia</th>
							<th scope="col">shopee</th>
							<th scope="col">lazada</th>
							<th scope="col">blibli</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="chart4G : ${chart4G}">
							<td th:text="${chart4G.id}">id</td>
					        <td th:text="${chart4G.date}">date</td>
					        <td th:text="${chart4G.page}">page</td>
					        <td th:text="${chart4G.device}">device</td>
					        <td th:text="${chart4G.elevenia}">elevenia</td>
					        <td th:text="${chart4G.tokopedia}">tokopedia</td>
					        <td th:text="${chart4G.shopee}">shopee</td>
					        <td th:text="${chart4G.lazada}">lazada</td>
					        <td th:text="${chart4G.blibli}">blibli</td>
					     </tr>
					</tbody>
				</table>
			</div>

	</main>
	
	<script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="webjars/sweetalert2/dist/sweetalert2.min.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function () {
		
	    $("#form4G").submit(function (e) {

	        //stop submit the form, we will post it manually.
	        e.preventDefault();

	        fire_ajax_submit();

	    });

	});
	
	function fire_ajax_submit() {
		
		var data = {};
	        data["date"] = $("#inputDate").val();
	        data["page"] = $("#inputPage").val();
	        data["device"] = $("#inputDevice").val();
	        data["elevenia"] = $("#inputElevenia").val();
	        data["tokopedia"] = $("#inputShopee").val();
	        data["lazada"] = $("#inputLazada").val();
	        data["blibli"] = $("#inputBlibli").val();   

	    $("#form-add").prop("disabled", true);
	    $(".alert").removeClass("collapse").addClass("collapse");
	    
	    $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        url: "/ajax/chart/4G/save",
	        data: JSON.stringify(data),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success: function (data) {
	            console.log("SUCCESS : ", data);
	            
	            $("#form-add").prop("disabled", false);
	            $(".table > tbody").html("");
	        },
	        error: function (e) {
	            console.log("ERROR : ", e);
	            
	            $("#form-add").prop("disabled", false);
	            $(".alert").removeClass("collapse");
	            $(".alert").html(e.responseJSON.message);
	        }
	    });

	}
	</script>
	
</body>

</html>